*,
::after,
::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(220, 220, 220);
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    padding: 2rem;
    font-size: 15px;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Oxygen-Sans, Ubuntu, Cantarell, sans-serif;
    line-height: 1.4;
}

main {
    width: 100%;
    margin: auto;
    background-color: #ffffff;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .15);
    border-radius: .5rem;
}

@media (min-width: 1200px) {
    main {
        max-width: 720px;
    }
}

/* Table */
table {
    width: 100%;
    color: #212529;
    border-collapse: collapse;
}

table thead th {
    text-align: inherit;
    vertical-align: bottom;
}
 
table tr {
    padding: .5rem;
}

table td,
table th {
    padding: .75rem;
    vertical-align: top;
}

table tbody tr:first-child {
    border-top-right-radius: .5rem;
    border-top-left-radius: .5rem;
}

table tbody tr:nth-of-type(odd) {
    background-color: rgba(0, 0, 0, .05);
}

@media screen and (max-width: 600px) {
    table thead {
        display: none;
    }

    table td {
        width: 50%;
        padding: .25rem;
    }

    table td:before {
        font-weight: bolder;
        content: attr(data-label);
        display: block;
    }

    table tr {
        border-bottom: 0;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
}

.pagination {
    display: flex;
    background-color: rgba(0, 0, 0, .05);
    border-top: 2px solid rgba(0, 0, 0, .25);;
    border-bottom-right-radius: .5rem;
    border-bottom-left-radius: .5rem;
}

.pagination>button {
    padding: .75rem;
    display: none;
    user-select: none;
    cursor: pointer;
    font-weight: bolder;
    background-color: transparent;
    border: 1px solid transparent;
}

.pagination>*:last-child {
    margin-left: auto;
}